<header class="flex px-pm lg:px-pl py-[23px] lg:py-[37px]">
  <div class="block lg:hidden">
    <img class="w-6 h-6" src="../../assets/burger.svg" alt="icon" />
  </div>
  <img class="mx-[16px]" src="../../assets/SHOP.CO.svg" alt="logo" />
  <nav class="hidden lg:flex mx-[40px]">
    <ul class="flex ">
      <li class="mr-[24px]">
        <a href="#"
          >Shop
          <img src="../../assets/Frame3.svg" alt="icon" />
        </a>
      </li>
      <li class="mr-[24px]">
        <a href="#">On Sale</a>
      </li>
      <li class="mr-[24px]">
        <a href="#">New Arrivals</a>
      </li>
      <li class="">
        <a href="#">Brands</a>
      </li>
    </ul>
  </nav>
    <form class="flex lg:w-[577px]" action="#">
      <img class="w-6 h-6 block lg:hidden" src="../../assets/Frame.svg" alt="icon" />
      <input
        class="bgg hidden w-[100%] lg:block"
        type="text"
        placeholder="        Search for products... "
        name="search"
      />
    </form>
  <a href="#">
    <img class="mx-[12px] lg:mx-[14px] w-6 h-6" src="../../assets/Frame1.svg" alt="icon" />
  </a>
  <a href="#">
    <img class="w-6 h-6" src="../../assets/Frame2.svg" alt="icon" />
  </a>
</header>
