<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <p>Sign up and get 20% off to your first order. <button>Sign Up Now</button> </p>
            <button>X</button>
        </div>
        <nav>
            <img src="../../assets/SHOP.CO.svg" alt="logo">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div></div>
            <button></button>
            <button></button>
        </nav>
    </header>
</body>
</html>