<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="sign-up-head ">
            <p class="sign-up-head-p w-[301px] lg:w-[351px] ">Sign up and get 20% off to your first order. <a href="#">Sign Up Now</a> </p>
            <button>X</button>
        </div>
        <div class="block lg:hidden">
            <img src="../../assets/burger.svg" alt="icon">
        </div>
        <img src="../../assets/SHOP.CO.svg" alt="logo">
        <nav class="hidden lg:flex">
            
            <ul class="nav-ul">
                <li class="nav-li">
                    <a href="#">Shop
                        <img src="../../assets/Frame3.svg" alt="icon">
                    </a>
                </li>
                <li class="nav-li">
                    <a href="#">On Sale</a>
                </li>
                <li class="nav-li">
                    <a href="#">New Arrivals</a>
                </li>
                <li class="nav-li">
                    <a href="#">Brands</a>
                </li>
            </ul>
            <div class="search-container" >
                <form class="search-container-form" action="#">
                    <input type="text" placeholder= "          Search for products... " name="search">
                </form>
            </div>
            <a href="#">
                <img src="../../assets/Frame1.svg" alt="icon">
            </a>
            <a href="#">
                <img src="../../assets/Frame2.svg" alt="icon">
            </a>
        </nav>
    </header>
    <section class="find-clothes">
        <h1 class="font-bold text-[36px] lg:text-[64px] leading-[34px] lg:leading-[64px] ">Find Clothes <br> this matches <br> your style </h1>
        <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
        <button style="background-color: black;">Shop Now</button>
        <div class="find-clothes-container">
            <table>
                <tr>
                    <th>200+ </th>
                    <th>2,000+</th>
                    <th>30,000+</th>
                </tr>
                <tr>
                    <td>International Brands</td>
                    <td>High-Quality Products</td>
                    <td>Happy Customers</td>
                </tr>
            </table>
        </div>

    </section>
</body>
</html>