<section class="px-pm lg:px-pl bg-gray-100">
  <div class="flex flex-col lg:flex-row pt-[31px] lg:pt-[50px]">
    <div class="flex flex-col w-[400px]">
      <img
        class="w-[144px] lg:w-[167px]"
        src="../../assets/SHOP.CO.svg"
        alt="logo"
      />
      <p class="mt-[14px] lg:mt-[21px]">
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
      <div class="flex flex-row mt-[20px] lg:mt-[35px]">
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/twitter.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-black flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/fb-simple.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/instagram.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/github.png" alt="logo" />
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="flex justify-between">
        <div class="flex flex-col w-[91px] lg:w-[104px] gap-4">
          <h5 class="footer-headers">Company</h5>
          <a class="footer-a-tags" href="#">About</a>
          <a class="footer-a-tags" href="#">Features</a>
          <a class="footer-a-tags" href="#">Works</a>
          <a class="footer-a-tags" href="#">Career</a>
        </div>
        <div class="flex flex-col w-[121px] lg:w-[136px] gap-4">
          <h5 class="footer-headers">help</h5>
          <a class="footer-a-tags" href="#">Customer Support</a>
          <a class="footer-a-tags" href="#">Delivery Details</a>
          <a class="footer-a-tags" href="#"> Terms & Conditions</a>
          <a class="footer-a-tags" href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="flex flex-col basis-full gap-4">
          <h5 class="footer-headers w-[121px] lg:-[149px]">faq</h5>
          <a class="footer-a-tags" href="#">Account</a>
          <a class="footer-a-tags" href="#">Manage Deliveries</a>
          <a class="footer-a-tags" href="#">Orders</a>
          <a class="footer-a-tags" href="#">Payments</a>
        </div>
        <div class="flex flex-col gap-4">
          <h5 class="footer-headers w-[159px] lg:w-[149px]">resources</h5>
          <a class="footer-a-tags" href="#">Free eBooks</a>
          <a class="footer-a-tags" href="#">Development Tutorial</a>
          <a class="footer-a-tags" href="#">How to - Blog</a>
          <a class="footer-a-tags" href="#">Youtube Playlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="border bg-gray-700"></div>
  <div>
    <p>Shop.co © 2000-2023, All Rights Reserved</p>
    <div>
      <a href="#"><img src="../../assets/visa.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/Mastercard.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/paypal.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/applpay.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/gpay.svg" alt="con" /></a>
    </div>
  </div>
</section>
