<section class=" bg-gray-300">
  <div>
    <div class="">
      <img class="mx-[16px]" src="../../assets/SHOP.CO.svg" alt="logo" />
      <p>
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
      <div>
        <div>
          <a href="#">
            <img src="../../assets/twitter.png" alt="logo" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/fb-simple.png" alt="logo" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/instagram.png" alt="logo" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/github.png" alt="logo" />
          </a>
        </div>
      </div>
    </div>
    <div>
      <h5>Company</h5>
      <a href="#">About</a>
      <a href="#">Features</a>
      <a href="#">Works</a>
      <a href="#">Career</a>
    </div>
    <div>
      <h5>help</h5>
      <a href="#">Customer Support</a>
      <a href="#">Delivery Details</a>
      <a href="#"> Terms & Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div>
      <h5>faq</h5>
      <a href="#">Account</a>
      <a href="#">Manage Deliveries</a>
      <a href="#">Orders</a>
      <a href="#">Payments</a>
    </div>
    <div>
      <h5>resources</h5>
      <a href="#">Free eBooks</a>
      <a href="#">Development Tutorial</a>
      <a href="#">How to - Blog</a>
      <a href="#">Youtube Playlist</a>
    </div>
  </div>
  <div class="border bg-black mx-[16px] lg:mx-[100px]"></div>
  <div>
    <p>Shop.co © 2000-2023, All Rights Reserved</p>
    <div>
        <a href="#"><img src="../../assets/visa.svg" alt="icon"></a>
        <a href="#"><img src="../../assets/Mastercard.svg" alt="icon"></a>
        <a href="#"><img src="../../assets/paypal.svg" alt="icon"></a>
        <a href="#"><img src="../../assets/applpay.svg" alt="icon"></a>
        <a href="#"><img src="../../assets/gpay.svg" alt="con"></a>
    </div>
  </div>
</section>
