<section class="px-pm lg:px-pl bg-gray-100">
  <div class="flex pt-[31px] flex-wrap lg:flex-nowrap pb-10 lg:py-[50px] justify-around">
    <div class="one-div  w-[100%]">
      <img
        class="w-[144px] lg:w-[167px]"
        src="../../assets/SHOP.CO.svg"
        alt="logo"
      />
      <p class="mt-[14px] lg:mt-[21px] lg:max-w-[250px]">
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
      <div class="flex flex-row mt-[20px] lg:mt-[35px]">
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/twitter.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-black flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/fb-simple.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/instagram.png" alt="logo" />
          </a>
        </div>
        <div
          class="mr-[12px] w-[28px] h-[28px] rounded-full bg-white flex items-center justify-center"
        >
          <a href="#">
            <img src="../../assets/github.png" alt="logo" />
          </a>
        </div>
      </div>
    </div>

    <div class="one-div w-[50%]">
      <h5 class="footer-headers">Company</h5>
      <a class="footer-a-tags" href="#">About</a>
      <a class="footer-a-tags" href="#">Features</a>
      <a class="footer-a-tags" href="#">Works</a>
      <a class="footer-a-tags" href="#">Career</a>
    </div>

    <div class="one-div w-[50%]">
      <h5 class="footer-headers">help</h5>
      <a class="footer-a-tags" href="#">Customer Support</a>
      <a class="footer-a-tags" href="#">Delivery Details</a>
      <a class="footer-a-tags" href="#"> Terms & Conditions</a>
      <a class="footer-a-tags" href="#">Privacy Policy</a>
    </div>

    <div class="one-div w-[50%]">
      <h5 class="footer-headers">faq</h5>
      <a class="footer-a-tags" href="#">Account</a>
      <a class="footer-a-tags" href="#">Manage Deliveries</a>
      <a class="footer-a-tags" href="#">Orders</a>
      <a class="footer-a-tags" href="#">Payments</a>
    </div>

    <div class="one-div w-[50%]">
      <h5 class="footer-headers">resources</h5>
      <a class="footer-a-tags" href="#">Free eBooks</a>
      <a class="footer-a-tags" href="#">Development Tutorial</a>
      <a class="footer-a-tags" href="#">How to - Blog</a>
      <a class="footer-a-tags" href="#">Youtube Playlist</a>
    </div>

  </div>
  <div class="border bg-gray-700"></div>
  <div class="flex flex-col lg:flex-row items-center lg:justify-around pt-4 lg:pt-5 pb-[77px] lg:pb-[81px]">
    <p>Shop.co © 2000-2023, All Rights Reserved</p>
    <div class="flex">
      <a href="#"><img src="../../assets/visa.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/Mastercard.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/paypal.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/applpay.svg" alt="icon" /></a>
      <a href="#"><img src="../../assets/gpay.svg" alt="con" /></a>
    </div>
  </div>
</section>