<section class="bg-clothGray p-pm lg:p-pl m-mm lg:m-ml rounded-3xl">
    <h2 class="uppercase font-bold text-[32px] lg:text-[48px] text-center mb-[32px] lg:mb-[52px]"> BROWSE BY dress STYLE</h2>
    <div class="flex flex-row flex-wrap gap-[20px] justify-center">
    <img class="hidden lg:block " src="../../assets/casual.png" alt="bg">
    <img class="block lg:hidden" src="../../assets/casualmob.png" alt="bg">
    <img class="hidden lg:block " src="../../assets/formal.png" alt="bg">
    <img class="block lg:hidden" src="../../assets/formalmob.png" alt="bg">
    <img class="hidden lg:block" src="../../assets/party.png" alt="bg">
    <img class="block lg:hidden" src="../../assets/partymob.png" alt="bg">
    <img class="hidden lg:block" src="../../assets/gym.png" alt="bg">
    <img class="block lg:hidden" src="../../assets/gymmob.png" alt="bg">
    
</div>

</section>
