<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dy8nmweT5eBhkt4+N6BaSfPO/+gn6zqC1PfA3Q3eU6P/wAkKwzJ/v8HL8Nn5KAm1ChO4RnVSWo6r0KP8Kpkp4g==" crossorigin="anonymous" />

<section>
    <h2>our happy customers</h2>
    <div>
        <div>
            <span></span>
            <h6>Sarah M.</h6>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </div>
        <div>
            <span></span>
            <h6>Alex K.</h6>
            <p>"Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions.”</p>
        </div>
        <div>
            <span> </span>
            <h6 >James L.</h6>
            <p>"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</p>
        </div>
    </div>
</section>
