
<section class=" p-pm lg:p-pl">
    <div class="flex flex-row justify-between items-center mb-[32px] lg:mb-[52px]">
    <h2 class="uppercase font-integralCF font-extrabold text-[32px] lg:text-[48px]  font-integral">our happy customers</h2>
    <div>
    <span>&#8592;</span>
    <span>&#8594;</span>         
    </div>

    </div>

    <div class="flex flex-row justify-around">
        <div class="w-[358px] lg:w-[400px] p-[24px] border rounded-xl">
            <span></span>
            <h6 class="font-satoshi">Sarah M.</h6>
            <p class="font-satoshi">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </div>
        <div class="w-[358px] lg:w-[400px] p-[24px] border rounded-xl hidden lg:block">
            <span></span>
            <h6>Alex K.</h6>
            <p>"Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions.”</p>
        </div>
        <div class="w-[358px] lg:w-[400px] p-[24px] border rounded-xl hidden lg:block">
            <span> </span>
            <h6 >James L.</h6>
            <p>"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</p>
        </div>
    </div>
</section>
