<app-sign-up-now></app-sign-up-now>
<app-header></app-header>

<span>Home > Shop</span>
<section>
    <div>
        <div>
            <img src="../../assets/green-shurt.png" alt="cloth">
        </div>
        <div>
            <img src="../../assets/green-shurt2.png" alt="cloth">
        </div>
        <div>
            <img src="../../assets/green-shurt3.png" alt="cloth">
        </div>
        <div>
            <img src="../../assets/green-shurt-main.png" alt="cloth">
        </div>
    </div>
    <div>
        <h5>One Life Graphic T-shirt</h5>
        <span>
            <app-star-raiting [star]="9"></app-star-raiting>4.5/5
        </span>
        <div>
            <span class="font-bold TEXT-[20px] lg:text-[24px]">$260</span>
            <span class="font-bold TEXT-[20px] lg:text-[24px] text-priceclr mx-[5px] lg:mx-[10px]">$300</span>
            <span class="bg-saleClr text-red-600 w-[42px] lg:w-[58px] h-[20px] lg:h-[28px] text-[10px] lg:text-[12px] px-[14px] py-[6px] rounded-full">-40%</span>
        </div>
        <p>This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it offers superior comfort and style.</p>
        <div class="border bg-gray-700"></div>
        <span>Select Colors</span>
        <img src="../../assets/select-color.svg" alt="selector">
        <div class="border bg-gray-700"></div>
        <span>Choose Size</span>
        <div>
            <button>Small</button>
            <button>Medium</button>
            <button>Large</button>
            <button>X-Large</button>
        </div>
        <div class="border bg-gray-700"></div>
        <div>
            <div>&#43; 1 &#8722;</div>
            <div>Add to Cart</div>
        </div>
    </div>
</section>
<app-rating-and-reviews></app-rating-and-reviews>
<app-footer></app-footer>