<section class="">
    <h1 class="font-bold text-[36px] lg:text-[64px] leading-[34px] lg:leading-[64px] ">Find Clothes <br> this matches <br> your style </h1>
    <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
    <button>Shop Now</button>
    <div class="">
        <table>
            <tr>
                <th>200+ </th>
                <th>2,000+</th>
                <th>30,000+</th>
            </tr>
            <tr>
                <td>International Brands</td>
                <td>High-Quality Products</td>
                <td>Happy Customers</td>
            </tr>
        </table>
    </div>

</section>

