<section class="bg-clothGray px-pm lg:px-pl pt-10 lg:pt-25 ">
    <h1 class="font-bold text-[36px] lg:text-[64px] leading-[34px] lg:leading-[64px] uppercase">Find Clothes <br> this matches <br> your style </h1>
    <p class="font-normal text-clothP py-5 lg:py-8 max-w-[545px]">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
    <button class="text-4 whitespace-nowrap bg-clothbtn text-white rounded-full px-[54px] py-4 w-[100%] md:w-min">Shop Now</button>
    <div class="w-69 lg:h-149 p-5">
        <div class="grid gap-4 grid-cols-3 lg:grid-cols-3">
            <div>
                <h6 class="w-26 lg:w-42 font-bold">200+</h6>
                <p class="text-[12px] lg:text-[16px]">International Brands</p>
            </div>
            <div>
                <h6 class="w-26 lg:w-42 font-bold">2,000+</h6>
                <p class="text-[12px] lg:text-[16px]">High-Quality Products</p>
            </div>
            <div class="col-start-2">
                <h6 class="w-26 lg:w-42 font-bold">30,000+</h6>
                <p class="text-[12px] lg:text-[16px] ">Happy Customers</p>
            </div>
        </div>

    </div>
    <div class="bg-div">
        <img class="bg-star " src="../../assets/Vector.svg" alt="star">
        <img class="bg-star-1 " src="../../assets/Vector1.svg" alt="star">
       <img class="bg-img" src="../../assets/Rectangle2.png" alt="bg"> 
    </div>
</section>

