.bg-star {
  /* position: relative; */
  width: 44px;
  height: 44px;
  top: 640px;
  left: 27px;
  gap: 0px;
  opacity: 0px;
  z-index: 1;
}
.bg-star-1 {
  /* position: relative; */
  width: 76px;
  height: 76px;
  top: 543px;
  left: 293px;
  gap: 0px;
  opacity: 0px;
  z-index: 1;
}
.bg-img {
  /* position: absolute; */
  width: 390px;
  height: 448px;
  top: 503px;
  gap: 0px;
  opacity: 0px;
}
