<section>
    <h2 class="uppercase">new arrivals</h2>
    <div>
        <div>
            <div>
               <img src="../../assets/top.png" alt="cloth"> 
            </div>
            <p>T-SHIRT WITH TAPE DETAILS</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/jeans.png" alt="cloth"> 
            </div>
            <p>SKINNY FIT JEANS</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/shurt.png" alt="cloth"> 
            </div>
            <p>CHECKERED SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/redtop.png" alt="cloth"> 
            </div>
            <p>SLEEVE STRIPED T-SHIRT</p>
            <span></span>
            <span></span>
        </div>
    </div>
</section>

