
<section class="mt-[50px] lg:mt-[72px] p-pm lg-p-pl">
    <h2 class="uppercase font-bold text-[32px] lg:text-[48px] text-center mb-[32px] lg:mb-[52px]">new arrivals</h2>
    <div class="flex px-pm lg:px-pl flex-wrap justify-center">
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/top.png" alt="cloth"> 
            </div>
            <p>T-SHIRT WITH TAPE DETAILS</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/jeans.png" alt="cloth"> 
            </div>
            <p>SKINNY FIT JEANS</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px] hidden lg:block">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/shurt.png" alt="cloth"> 
            </div>
            <p>CHECKERED SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px] hidden lg:block">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/redtop.png" alt="cloth"> 
            </div>
            <p>SLEEVE STRIPED T-SHIRT</p>
            <span appStarRating></span>
            <span></span>
        </div>
    </div>
</section>

