<section class=" bg-black text-white px-pm lg:px-[64px] rounded-2xl mx-mm lg:mx-ml h-[298px] lg:h-[180px] flex flex-col lg:flex-row items-center">
    <h2 class="uppercase w-[297px] lg:w-[551px] leading-[35px] lg:leading-[45px] text-[32px] lg:text-[40px] font-bold mt-[32px] lg:mt-0">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
    <form class="flex flex-col" action="#">
        <input class="w-[316px] lg:w-[348px] mb-[32px] lg:mb-[12px] h-[42px] lg:h[48px] rounded-full" type="email" name="email" id="email" pattern=".@examle\.com" placeholder="&#9993;enter your Email" required />
        <button class="bg-white text-black w-[316px] lg:w-[348px] h-[42px] lg:h[48px] rounded-full" type="submit">Subscribe to Newsletter</button>
    </form>
    
</section>
