<section class="h-36 lg:h-30.5 bg-black text-white flex justify-around items-center flex-wrap">
    <span>
        <img class="h-6 lg:h-8 px-2" src="../../assets/versace.svg" alt="icon">
    </span>
    <span>
        <img class="h-6 lg:h-8 px-2" src="../../assets/zara.svg" alt="icon">
    </span>
    <span>
        <img class="h-6 lg:h-8 px-2" src="../../assets/gucci.svg" alt="icon">
    </span>
    <span>
        <img class="h-6 lg:h-8 px-2" src="../../assets/prada.svg" alt="icon">
    </span>
    <span>
        <img class="h-6 lg:h-8 px-2" src="../../assets/calvin.svg" alt="icon">
    </span>
</section>
