<section class="mt-[50px] lg:mt-[72px] p-pm lg-p-pl">
    <h2 class="uppercase font-bold text-[32px] lg:text-[48px] mb-[32px] lg:mb-[52px] text-center">top selling</h2>
    <div class="flex px-pm lg:px-pl flex-wrap justify-center">
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/greenshurt.png" alt="cloth"> 
            </div>
            <p>VERTICAL STRIPED SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/orengtop.png" alt="cloth"> 
            </div>
            <p>COURAGE GRAPHIC T-SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/short.png" alt="cloth"> 
            </div>
            <p>LOOSE FIT BERMUDA SHORTS</p>
            <span></span>
            <span></span>
        </div>
        <div class="w-[198px] lg:w-[295px]">
            <div class="px-pm">
               <img class="rounded-lg h-[200px] lg:h-[298px]" src="../../assets/blackpant.png" alt="cloth"> 
            </div>
            <p>FADED SKINNY JEANS</p>
            <span></span>
            <span></span>
        </div>
    </div>
</section>


