<section>
    <h2 class="uppercase">top selling</h2>
    <div>
        <div>
            <div>
               <img src="../../assets/greenshurt.png" alt="cloth"> 
            </div>
            <p>VERTICAL STRIPED SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/orengtop.png" alt="cloth"> 
            </div>
            <p>COURAGE GRAPHIC T-SHIRT</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/short.png" alt="cloth"> 
            </div>
            <p>LOOSE FIT BERMUDA SHORTS</p>
            <span></span>
            <span></span>
        </div>
        <div>
            <div>
               <img src="../../assets/blackpant.png" alt="cloth"> 
            </div>
            <p>FADED SKINNY JEANS</p>
            <span></span>
            <span></span>
        </div>
    </div>
</section>


